name: Publish Python distributions to PyPI

on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build-and-publish:
    name: Build and Publish
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    - name: Install pypa/build
      run: >-
          python -m
          pip install
          build
          --user
    - name: Build source tarball
      run: >-
          python -m
          build
          --sdist
          --outdir dist/
          .
#   - name: Publish distribution to Test PyPI
#     uses: pypa/gh-action-pypi-publish@master
#     with:
#       password: ${{ secrets.TEST_PYPI_API_TOKEN }}
#       repository_url: https://test.pypi.org/legacy/
    - name: Publish distribution to PyPI
      uses: pypa/gh-action-pypi-publish@master
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
